.clock{
    position: relative;
    margin: 20px;
    border-radius: 15px;
    background-color: white;
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

.button{
    position: absolute;
    border-radius: 15px;
    background-color: #1c115a;
    height: 15px;
    width: 18px;

}

.point {
    position: absolute;
    border-radius: 15px;
    background-color: red;
    border: 1px solid black;
    height: 10px;
    width: 10px;
}
.arrow {
    background-color: black;
    position: absolute;
}
#position-point1{
    left: 45px; top: 4px;
}
#position-point2{
    left: 45px; top: 85px;
}
#position-point3{
    left: 4px; top: 45px;
}
#position-point4{
    left: 85px; top: 45px;
}
#position-arrowH{
    height: 50px;
    width: 4px;
    left: 49px; top: 10px;
}
#position-arrowM{
    height: 3px;
    width: 40px;
    left: 40px; top: 49px;
}


#transform-point1{
    transform: translate(45px, 4px);
}
#transform-point2{
    transform: translate(45px, 85px);
}
#transform-point3{
    transform: translate(4px, 45px);
}
#transform-point4{
    transform: translate(85px, 45px);
}
#transform-arrowH{
    height: 50px;
    width: 4px;
    transform: translate(49px, 10px);
}
#transform-arrowM{
    height: 3px;
    width: 40px;
    transform: translate(40px, 49px);
}
